@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: lightgray;
  }
  a {
    color: greenyellow;
  }
  input, button {
    background-color: black;
    color: white;
  }
}

#progress {
  padding-top: 1rem;
  display: flex;
  visibility: hidden;
}

#progress.active {
  visibility: visible;
}

#progress.done>.loader {
  display: none;
}

#warning>li:before {
  content: "⚠️";
  margin-left: -20px;
  margin-right: 10px;
}

.loader {
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  margin-right: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 801px) {
  footer {
    position: fixed;
    left: 8px;
    bottom: 8px;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  #tip-block {
    display: none;
  }
}

@media (max-width: 1000px) {
  #tip-float {
    display: none;
  }
}

#tip-float {
  float: right;
  text-align: center;
}

#tip-float img {
  max-width: 25%;
}